{% set opcionActiva='inicio' %}

{% extends 'HDBwebBundle:Plantillas:default.html.twig' %}

{% block tilte %}htmlDream Builder, consultoría web en Madrid{% endblock %}

{% block metas %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block jsTop %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }} 
    <section class="row aire">
        <article class="small-12 columns text-center">
            <h1 class="sans sombraTexto">htmlDream builder</h1>
            <h2 class="subheader">Tu consultora web low-cost en Madrid</h2>
        </article>
    </section>
    {% include 'HDBwebBundle:Componentes:slider.html.twig' %}

    {# Contacto rápido #}
    <section class="row aireBottom">

        <!-- Resumen de motivos -->
        <article class="small-12 medium-6 large-4 large-offset-2 columns">
            <ul class="no-bullet sombraTexto small-text-center medium-text-right large-text-right">
                <li><h3>100% Responsive design</h3></li>
                <li><h3>Alta relación calidad/precio</h3></li>
                <li><h3>SEO potente en buscadores</h3></li>
                <li><h3>Webs eficientes y rápidas</h3></li>
                <li><h3>Tiendas seguras y atractivas</h3></li>
                <li><h3>Soluciones a medida</h3></li>
            </ul>
        </article>
        <!-- Fin resumen de motivos -->

        <!-- Mostramos el ormulario de contácto rápido si no se envió-->
        <article class="small-12 medium-6 large-3 left columns">
            <h3><span class="sans">¿Te podemos ayudar?</span> <br>¿Tienes una idea?</h3>

            {% include 'HDBwebBundle:Componentes:contactoRapidoForm.html.twig' %}

        </article>
        <!-- Fin formulario de contacto rápido -->
    </section>
    <!-- Fin contacto rápido -->

    {% include 'HDBwebBundle:Componentes:pie.html.twig' %}

{% endblock %}

{% block javaScripts %}
    {{ parent() }}
{% endblock %}