{% extends "base.html.twig" %}

{% block pagina %}

    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8" />
            <title>{% block titulo %}htmlDream Builder{% endblock %}</title>
            {% block metas %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <!-- VErificación WebmasterTools -->
                <meta name="google-site-verification" content="RIBD5CANUndscleC5symCe6mwAhEyFRw34_3axFMmSA" />
                <!-- Verificación Pinterest -->
                <meta name="p:domain_verify" content="e57538ce4ed0c38eb4002a8d5a3a07ef"/>
            {% endblock %}
            {% block stylesheets %}
                {# CSS vía SASS #}
                <link href="{{asset('css/foundation.css')}}" rel="stylesheet" type="text/css">
            {% endblock %}
            {% block jsTop %}
                <script type="text/javascript" src="{{asset('js/vendor/modernizr.js')}}"></script>
            {% endblock %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        </head>
        <body class="fondo">
            {# Cuerpo de la web #}
            {% block body %}
                {# JDK de Facebook para widgets #}
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id))
                            return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&appId=209268342447451&version=v2.0";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                <!-- Analytics -->
                <script>
                    (function(i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function() {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o),
                                m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                    ga('create', 'UA-52067062-1', 'auto');
                    ga('send', 'pageview');

                </script>

                {# Cargamos la cabecera #}
                {% include 'HDBwebBundle:Componentes:cabecera.html.twig' %}
                {# Cargamos el menú superior #}
                {% include 'HDBwebBundle:Componentes:topBar.html.twig' %} 

            {% endblock %}
            {% block javaScripts %}
                <!-- Carga librerías javaScript -->
                <script src="//code.jquery.com/jquery-1.9.1.js"></script>
                <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

                <!-- Zurb Foundation -->
                <script type="text/javascript" src="{{asset('js/foundation.min.js')}}"></script>

                <!-- Scripts propios -->
                <script type="text/javascript" src="{{asset('js/functions.js')}}"></script>
                <script type="text/javascript" src="{{asset('js/constructor.js')}}"></script>
            {% endblock %}
        </body>
    </html>

{% endblock %}